@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Lato&display=swap');

$header-fond: 'Crimson Text', serif;
$main-font: 'Lato', sans-serif;

$gradient: linear-gradient(to right, #04ADBF 0%, #7839b0 100%);
$background-color: #fff;

/* Color Theme Swatches in Hex */
$theme-color1: #032F40;
$theme-color2: #04ADBF;
$theme-color3: #d2fcfa;
